<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Jot down idea for your next youtube video</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Ideas</a>
</div>